.flickrimages .card
{
	cursor:pointer;
}

.flickrimages .card img
{
	width:100%;
	border:2px solid #fff;
}

.flickrimages .card.selected img
{
	border:2px dashed blue;
	border:2px solid blue;
}

.jumbotron
{
	margin:1.25rem 0rem;
	padding:2rem;
	border-radius:0px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	background-color:#fff;
}

h1
{
	text-align:center;
}

ul
{
	padding-left:0px;
}
